@-webkit-keyframes spinner-bringInAnim {
  0% { opacity: 0; -webkit-transform: scale(0); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes spinner-bringInAnim {
  0% { opacity: 0; -moz-transform: scale(0); }
  100% { opacity: 1; -moz-transform: scale(1); }
}
.spinner-bringIn {
  opacity: 1;
  -webkit-animation-fill-mode: both;
  -webkit-animation: spinner-bringInAnim 0.5s 1 ease-in;
  -moz-animation-fill-mode: both;
  -moz-animation: spinner-bringInAnim 0.5s 1 ease-in;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}

@-webkit-keyframes spinner-bringOutAnim {
  0% { opacity: 1; -webkit-transform: scale(1); }
  100% { opacity: 0; -webkit-transform: scale(0); }
}
@-moz-keyframes spinner-bringOutAnim {
  0% { opacity: 1; -moz-transform: scale(1); }
  100% { opacity: 0; -moz-transform: scale(0); }
}
.spinner-bringOut {
  opacity: 0;
  -webkit-animation-fill-mode: both;
  -webkit-animation: spinner-bringOutAnim 0.5s 1 ease-in;
  -moz-animation-fill-mode: both;
  -moz-animation: spinner-bringOutAnim 0.5s 1 ease-in;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}

@-webkit-keyframes spinnerAnim {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinnerAnim {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
.spinner {
  -webkit-animation: spinnerAnim 1.5s infinite linear;
  -moz-animation: spinnerAnim 1.5s infinite linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}
